.header {
  display: flex;
  flex-direction: column;
  height: 200px;
  background-color: lightgrey;
}

.polosa01 {
  height: 50px;
  background-color: grey;
}

.menu {
  display: flex;
  flex-direction: row;
  min-height: 50px;
  background-color: yellowgreen;
}

.menu_item {
  display: flex;
  flex: 1;
}

.vert_zaglushka {
  height: 800;
}
